* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  /* background-color: #202129; */
  /* background-color: #292b35; */
  background-color: #e3e4e7;
  /* background: rgb(108, 160, 204); */
  /* background: radial-gradient(circle, rgb(63, 70, 90) 0%, rgb(33, 43, 68) 35%, rgb(36, 39, 43) 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100vw;
  height: 60px;
  /* background-color: rgb(13, 20, 39); */
  background-color: rgb(161, 159, 155);
  /* color: rgb(95, 178, 247); */
  /* color: rgb(44, 149, 248); */
  color: rgb(13, 26, 39);

  font-family: cursive;
  font-size: 28px;
  font-weight: bold;
  line-height: 60px;

  box-sizing: border-box;
  padding-left: 50px;
}

.rom-upload {
  height: 55px;
  display: flex;
  align-items: center;
  color: #ddd;
  background-color: rgb(14, 14, 14);
  border-radius: 4px;
}

.file {
  height: 50px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#input {
  height: 50px;
  width: 400px;
}

.border {
  width: 553px;
  height: 485px;
  background: url(./border2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

#gbemu-canvas {
  width: 320px;
  height: 280px;

  position: absolute;
  top: 90px;
  left: 115px;
}

canvas {
  box-sizing: border-box;
  image-rendering: optimizeSpeed; /* Older versions of FF */
  image-rendering: -moz-crisp-edges; /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}
